@page "{id}"
@using Infrastructure
@model ConferenceModel
@{
    ViewData["Title"] = @Model.Conference.Name;
}


@if (Model.ShowMessage)
{
    <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span>   </button>
        @Model.Message
    </div>
}

<!-- Banner start -->
<section class="banner-style-1 md-header-banner text-align-center position-relative cover-background" style="background-image: url(/images/background.jpg);">
    <div class="md-color-overlay gradient-orange-pink"></div>
    <div class="jumbotron bg-transparent height-100 position-relative">
        <div class="container height-100">
            <div class="md-banner-content margin-lr-auto wow fadeInUp" data-wow-delay="0.5s">
                <div class="md-bannertext-img md-banner-content-cell-middle height-100">
                    <div class="banner-event-date-venue color-white font-weight-600 text-small-16 position-relative display-table margin-lr-auto margin-bottom-35">
                        <span class="event-date display-inline-block position-relative editContent" id="dt-head2-1" style="color:rgb(255, 255, 255);font-size:16px;background-color:rgba(0, 0, 0, 0);font-family:Poppins, sans-serif;font-weight:600;text-transform:none;"><i class="fa fa-calendar icon-style" aria-hidden="true"></i> @Model.Conference.StartDate.ToLongDateString()</span>
                        <span class="event-venue display-inline-block position-relative editContent" id="dt-head2-2"><i class="fa fa-map-o icon-style" aria-hidden="true"></i>@Model.Conference.City, @Model.Conference.Country</span>
                    </div>
                    <h1 class="text-extra-large-90 color-white font-weight-600 text-transform-uppercase margin-bottom-25 editContent" id="dt-head2-title-1" style="color:rgb(255, 255, 255);font-size:3em;background-color:rgba(0, 0, 0, 0);font-family:Poppins, sans-serif;font-weight:600;text-transform:uppercase;"><span class="display-block text-medium-22 color-white font-weight-600 text-transform-uppercase margin-bottom-30 ">@Model.GlobalConference.Summary &nbsp;</span>@Model.Conference.Name</h1>
                    <h5 class=" display-table margin-lr-auto text-medium-22 color-white font-weight-600 text-transform-uppercase margin-bottom-30 position-relative line-left-right editContent" id="dt-head2-title-2">@Model.GlobalConference.TagLine</h5>
                    <div class="timer-3 event-time-counter margin-bottom-80 width-100" data-timer="1000" id="dt-head2-timer-1"></div>
                    <a class="btn bg-white color-black margin-lr-15" href="@Model.Conference.Registration" id="dt-head2-btn-1">Register</a>
                    <a class="btn empty-btn white-btn margin-lr-15" href="#schedule" id="dt-head2-btn-2">Read More</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Banner End -->
<!-- Speaker Start -->
<section id="speakers" class="team-style-3 speaker-section text-align-left width-100 float-left padding-tb-73-92" style="background-color: rgb(233, 233, 233)">
    <div class="container wow fadeInUp" data-wow-delay="0.5s">
        <h2 class="text-large-40 text-transform-uppercase font-weight-600 color-black">@Model.Speakers.Count() Speakers</h2>
        <h5 class="color-bright-gray font-weight-300 text-medium-22 margin-bottom-43">All @Model.Conference.Name Speakers</h5>

        <div class="team-slider-style-3 speaker-slider dot-style-1 small-dot black-red-dot position-left-dot row">

            @{int i = 0;}

            @foreach (var speaker in Model.Speakers)
            {
                // every 4
                if (i % 4 == 0 || i == 0)
                {
                    @:<div class="speaker-slides">
                    }

                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 margin-bottom-50 @((i % 2 == 0 && i > 1) ? "clear-both" : "")">
                        <div class="flex-container display-flex row" style="-webkit-box-align: initial;">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="speaker-image width-100 position-relative">
                                    <img class="border-radius-3 img-object-fit-cover img100 height-100" src="data:image/png;base64, @speaker.Picture" alt="@speaker.Name" />
                                    <div class="social-media-icons white-gray-icon small-icon-20 gradient-orange-pink position-absolute height-100 width-100 position-top display-table border-radius-3 linear-transition opacity-0">
                                        <ul class="md-person-social list-group text-align-center display-table-cell-vertical-middle">
                                            <li class="list-group-item"><a href="@speaker.WebSite" target="_blank"><span><i class="fa fa-globe" aria-hidden="true"></i></span></a></li>
                                            <li class="list-group-item"><a href="@speaker.Twitter" target="_blank"><span><i class="fa fa-twitter" aria-hidden="true"></i></span></a></li>
                                            <li class="list-group-item"><a href="@speaker.LinkedIn" target="_blank"><span><i class="fa fa-linkedin" aria-hidden="true"></i></span></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="speaker-content">
                                    <a asp-page="Speaker" asp-route-id="@speaker.ID" class="pop-it display-block color-black font-weight-600 text-medium-22 text-transform-capitalize margin-bottom-5">@speaker.Name</a>
                                    <span class="color-bright-gray font-weight-400 text-small-16 margin-bottom-15 display-block">@speaker.TagLine</span>

                                    @foreach (var session in speaker.Sessions)
                                    {
                                        <p class="color-black padding-right-50 text-small-16 font-weight-600 no-margin-bottom"><a class="pop-it" asp-page="Session" asp-route-id="@session.ID">@session.Title</a></p>
                                    }

                                </div>
                            </div>
                        </div>
                    </div>

                    if ((i + 1) % 4 == 0 || (i + 1) == Model.Speakers.Count())
                    {
                    @:</div>
                }

                i++;
            }

        </div>
    </div>
</section>
<!-- Speaker End -->
<!-- Agenda Start -->
<section id="schedule" class="upcoming-event-style-1 upcoming-event-section width-100 float-left padding-tb-73-80 position-relative text-align-center">
    <div class="container overflow-hidden wow fadeInUp" data-wow-delay="0.5s">
        <h2 class="text-large-40 text-transform-uppercase font-weight-600 color-black">@Model.SessionCount Sessions</h2>
        <h5 class="font-weight-300 text-medium-22 margin-bottom-35 color-bright-gray">Find the event schedule below</h5>

        <!-- Multi day nav -->
        @*<div class="upcoming-event-nav-slider-style-1 upcoming-event-nav-slider arrow-style-2">

            @foreach (var day in Model.DayOffsets)
            {
                <div class="coming-event-nav-slides bg-dim-gray padding-all-25">
                    <h5 class="font-weight-600 text-medium-22 color-black padding-lr-95"> <a asp-route-day="@day.Offset">@day.DayofWeek?.ToString()</a></h5>
                </div>
            }
        </div>*@

        <div id="coming-event" class="upcoming-event-for-slider-style-1 upcoming-event-for-slider padding-top-50">
            @foreach (var day in Model.DayOffsets)
            {
                <div class="upcoming-event-slide">
                    @foreach (var timeSlot in Model.Sessions)
                    {
                        foreach (var session in timeSlot)
                        {
                            <div class="event-detail-block width-100 float-left position-relative margin-bottom-50">
                                <div class="row">
                                    <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">
                                        <div class="left-event-time position-relative text-align-center display-table">
                                            <span class="color-black font-weight-600 text-small-16 display-inline-block float-left">@timeSlot.Key?.ToString("HH:mm")</span>
                                            <div class="outer-bordered-circle float-right position-relative">
                                                <div class="inner-filled-circle"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-10 col-md-10 col-sm-9 col-xs-12">
                                        <div class="event-detail-content bg-offwhite border-dim-gray width-100 float-left position-relative padding-tb-lr-20-30 text-align-left border-radius-5">
                                            <div class="outer-triangle position-absolute">
                                                <div class="inner-triangle position-absolute"></div>
                                            </div>
                                            <h5 class="color-black margin-bottom-5 font-weight-600 text-medium-22">[@session.Track?.Name] <a class="pop-it" asp-page="Session" asp-route-id="@session.ID">@session.Title</a></h5>
                                            <p class="margin-bottom-22 text-small-16 font-weight-400 color-charcoal-light margin-bottom-25">@session.Abstract.Truncate(200, "...", true)</p>
                                            <div class="event-time-speaker-detail" style="padding-right: 10px">

                                                @foreach (var speaker in session.Speakers)
                                                {
                                                    <div class="speaker-detail display-inline-table">
                                                        <div class="speaker-image img-round-62 float-left bg-medium-gray">
                                                            <img class="img100 img-round height-100 img-object-fit-cover" src="data:image/png;base64, @speaker.Picture" alt="@speaker.Name" />
                                                        </div>
                                                        <div class="speaker-name display-table-cell-vertical-middle height-100">
                                                            <span class="font-weight-600 color-black text-small-16 display-block"><a class="pop-it" asp-page="Speaker" asp-route-id="@speaker.ID">@speaker.Name</a></span>
                                                            <span class="font-weight-400 color-tomato-red text-small-16 display-block">Speaker</span>
                                                        </div>
                                                    </div>
                                                }

                                                <div class="event-detail-button float-right position-relative">
                                                    <span class="bg-black color-white border-radius-25 text-extra-small-12 font-weight-600 linear-transition cursor-pointer">@session.StartTime?.ToString("HH:mm") - @session.EndTime?.ToString("HH:mm")</span>
                                                    <a class="pop-it btn btn-small tomato-pink-btn" asp-page="Session" asp-route-id="@session.ID">Details</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <form method="post">
                                    <input type="hidden" name="sessionId" value="@session.ID" />
                                    <p>
                                        <a authz-policy="Admin" asp-page="/Admin/EditSession" asp-route-id="@session.ID" class="btn btn-default btn-sm">Edit</a>
                                        @if (Model.UserSessions.Contains(session.ID))
                                        {
                                            <button authz="true" type="submit" asp-page-handler="Remove" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-star" aria-hidden="true"></span></button>
                                        }
                                        else
                                        {
                                            <button authz="true" type="submit" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span></button>
                                        }
                                    </p>
                                </form>
                            </div>
                        }
                    }
                </div>
            }
        </div>
    </div>
</section>
<!-- Agenda End -->
<!-- Conference Details / Map Start -->
<section id="contact" class="contactus-style-2 md-contactus position-relative width-100 float-left" style="background-color: rgb(233, 233, 233)">
    <div class="container-fluid wow fadeInUp" data-wow-delay="0.5s">
        <div class="row">
            <div class="flex-container display-flex">
                <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12 no-padding-lr">
                    <div class="md-map" id="events-map">
                    </div>
                </div>
                <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12">
                    <div class="contact-form-address-container width-100">
                        <h2 class="text-large-40 font-weight-600 text-transform-uppercase color-black margin-bottom-40 editContent" id="dt-contact2-text-1">@Model.Conference.Name</h2>

                        <div class="contact-address width-100">
                            <span class="color-black color-black margin-bottom-5 font-weight-600 text-medium-22" id="dt-contact2-text-2">Date</span>
                            <p class="color-charcoal-light text-small-16 font-weight-400 margin-bottom-35 editContent" id="dt-contact2-text-3">@Model.Conference.StartDate.ToLongDateString()</p>
                        </div>
                        <div class="contact-address width-100">
                            <span class="color-black color-black margin-bottom-5 font-weight-600 text-medium-22" id="dt-contact2-text-2">Address</span>
                            <p class="color-charcoal-light text-small-16 font-weight-400 margin-bottom-35 editContent" id="dt-contact2-text-3">@Model.Conference.Address1 @Model.Conference.Address2 @Model.Conference.City @Model.Conference.PostCode @Model.Conference.Country </p>
                        </div>

                        <div class="contact-address width-100">
                            <span class="color-black color-black margin-bottom-5 font-weight-600 text-medium-22" id="dt-contact2-text-2">Event Team</span>
                        </div>

                        <div class="contact-address width-100">
                            @foreach (var organiser in Model.Conference.ConferenceOrganisers)
                            {
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 margin-bottom-50">
                                    <div class="flex-container display-flex row">
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <div class="speaker-image width-100 position-relative">
                                                <img class="border-radius-3 img-object-fit-cover img100 height-100" src="data:image/png;base64, @organiser.Picture" alt="@organiser.Name" />
                                                <div class="social-media-icons white-gray-icon small-icon-20 gradient-orange-pink position-absolute height-100 width-100 position-top display-table border-radius-3 linear-transition opacity-0">
                                                    <ul class="md-person-social list-group text-align-center display-table-cell-vertical-middle">
                                                        <li class="list-group-item"><a href="@organiser.WebSite" target="_blank"><span><i class="fa fa-globe" aria-hidden="true"></i></span></a></li>
                                                        <li class="list-group-item"><a href="@organiser.Twitter" target="_blank"><span><i class="fa fa-twitter" aria-hidden="true"></i></span></a></li>
                                                        <li class="list-group-item"><a href="@organiser.LinkedIn" target="_blank"><span><i class="fa fa-linkedin" aria-hidden="true"></i></span></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="contact-number width-100">
                                    <span class="color-black text-small-16 font-weight-600 margin-bottom-5 display-block editContent" id="dt-contact2-text-6">
                                        @organiser.Name
                                    </span>

                                    <p class="color-charcoal-light text-small-16 font-weight-400 no-margin-bottom editContent" id="dt-contact2-text-7">
                                        @organiser.TagLine
                                    </p>
                                    <p class="color-charcoal-light text-small-16 font-weight-400 no-margin-bottom editContent" id="dt-contact2-text-7">
                                        @organiser.Email
                                    </p>
                                </div>
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Conference Details / Map  Ends -->
<!-- Sponsors start -->
<section id="sponsors" class="logoshowcase-style-2 md-logoshowcase-section text-align-center width-100 padding-tb-73-50 display-inline-block header-bg">
    <div class="container wow fadeInUp" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
        <h2 class="text-large-40 text-transform-uppercase font-weight-600 color-black editContent" id="dt-partner2-title-1">Event Sponsors</h2>
        <h5 class="font-weight-300 text-medium-22 margin-bottom-45 color-bright-gray editContent" id="dt-partner2-title-2">Thanks to them, we got this event up and running</h5>

        @{int j = 0;}

        @foreach (var sponsor in Model.Sponsors)
        {
            // every 4
            if (j % 4 == 0 || i == 0)
            {
                @:<div class="logo-slider row">
                }

                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                    <div class="logo-image border-dim-gray bg-white margin-bottom-30">
                        <img class="linear-transition opacity-30" src="data:image/png;base64, @sponsor.Picture" id="dt-partner2-img-@j" alt="@sponsor.Name">
                    </div>
                </div>

                if ((j + 1) % 4 == 0 || (j + 1) == Model.Sponsors.Count())
                {
                @:</div>
            }

            i++;
        }

    </div>
</section>
<!-- Sponsors end -->

@section scripts {
    <script type='text/javascript'
            src='https://www.bing.com/api/maps/mapcontrol?callback=GetMap'
            async defer></script>

    <script type='text/javascript'>
        function GetMap() {
            renderRequestsMap("events-map", getLocationsFromModelRequests());
        };

        function getLocationsFromModelRequests() {
            var requestData = [];
            @{
                @:var reqData = {lat:@Model.Conference.Latitude, long:@Model.Conference.Longitude, name:'@Model.Conference.Name', color:'blue'};
                @:requestData.push(reqData);
            }
            return requestData;
        }

        /* Countdown Timer */
        $('#timer-clock-style-3').simplyCountdown({
            year: "@Model.Conference.StartDate.Year",
            month: "@Model.Conference.StartDate.Month",
            day: "@Model.Conference.StartDate.Day",
            inlineClass: 'simply-countdown-inline',
            sectionClass: 'hexagonal-rounded-edge',
            amountClass: 'counter-day-number',
            wordClass: 'counter-words',
            enableUtc: true,
        });

    </script>
}