@page
@model IndexModel
@{
    ViewData["Title"] = "Home Page";
}


@if (Model.ShowMessage)
{
    <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span>   </button>
        @Model.Message
    </div>
}

<!-- Banner start -->
<section class="banner-style-1 md-header-banner text-align-center position-relative cover-background" style="background-image: url(/images/monkeyfest_back.webp);">
    <div class="md-color-overlay gradient-pink-purple"></div>
    <div class="jumbotron bg-transparent height-100 position-relative">
        <div class="container height-100">
            <div class="md-banner-content margin-lr-auto wow fadeInUp" data-wow-delay="0.5s">
                <div class="md-bannertext-img md-banner-content-cell-middle height-100">
                    <div class="banner-event-date-venue color-white font-weight-600 text-small-16 position-relative display-table margin-lr-auto margin-bottom-35">
                        <span class="event-date display-inline-block position-relative"><i class="fa fa-calendar" aria-hidden="true"></i> @Model.GlobalConference.StartDate.ToLongDateString() </span><span class="event-venue display-inline-block position-relative"><i class="fa fa-map-o" aria-hidden="true"></i> @Model.GlobalConference.Location</span>
                    </div>
                    <h1 class="text-extra-large-90 color-white font-weight-600 text-transform-uppercase margin-bottom-25"><span class="display-block text-medium-22 color-white font-weight-600 text-transform-uppercase margin-bottom-30">@Model.GlobalConference.Name</span>@Model.GlobalConference.Description</h1>
                    <h5 class=" display-table margin-lr-auto text-medium-22 color-white font-weight-600 text-transform-uppercase margin-bottom-30 position-relative line-left-right">@Model.GlobalConference.TagLine</h5>
                    <div id="timer-clock-style-3" class="event-time-counter margin-bottom-80 width-100" data-timer="1000"></div>
                    <a class="btn bg-white color-black margin-lr-15" href="#">Register</a><a class="btn empty-btn white-btn margin-lr-15" href="#">Read More</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Banner End -->

<!-- Event List / Map Start -->

<section id="contact" class="upcoming-event-style-1 upcoming-event-section width-100 float-left padding-tb-73-80 position-relative text-align-center">
    <div class="container-fluid overflow-hidden wow fadeInUp" data-wow-delay="0.5s">
        <h2 class="text-large-40 text-transform-uppercase font-weight-600 color-black">Events</h2>
        <div class="row">
            <div class="md-map" id="events-map">
            </div>
        </div>
    </div>
</section>
<!-- Event List / Map Ends -->


<!-- Sponsors start -->
<section id="sponsers" class="logoshowcase-style-2 md-logoshowcase-section text-align-center width-100 padding-tb-73-50 display-inline-block header-bg">
    <div class="container wow fadeInUp" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
        <h2 class="text-large-40 text-transform-uppercase font-weight-600 color-black editContent" id="dt-partner2-title-1">Events sponsors</h2>
        <h5 class="font-weight-300 text-medium-22 margin-bottom-45 color-bright-gray editContent" id="dt-partner2-title-2">Alteration in some form, by injected hu randomised</h5>
        <div class="logo-slider row">
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                <div class="logo-image border-dim-gray bg-white margin-bottom-30">
                    <img class="linear-transition opacity-30" src="http://placehold.it/214x85" id="dt-partner2-img-1" alt="Logo 1">
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                <div class="logo-image border-dim-gray bg-white margin-bottom-30">
                    <img class="linear-transition opacity-30" src="http://placehold.it/214x85" id="dt-partner2-img-2" alt="Logo 2">
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                <div class="logo-image border-dim-gray bg-white margin-bottom-30">
                    <img class="linear-transition opacity-30" src="http://placehold.it/214x85" id="dt-partner2-img-3" alt="Logo 3">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Sponsors end -->

@section scripts {
    <script type='text/javascript'
            src='https://www.bing.com/api/maps/mapcontrol?callback=GetMap'
            async defer></script>
    <script type='text/javascript'>
        function GetMap() {
            renderRequestsMap("events-map", getLocationsFromModelRequests());

        };

        function getLocationsFromModelRequests() {
            var requestData = [];
            @foreach (var conference in Model.Conferences){
                @:var reqData = { lat:@conference.Latitude, long:@conference.Longitude, name: '@conference.City', url:'/Conference/@conference.ID', color:'blue'};
                @:requestData.push(reqData);
            }
            return requestData;
        }
    </script>
}